<div class="w-1/2 mx-auto border p-10">
  <div class="text-lg font-bold mb-10">Projects</div>
  <% deals.each do |deal| %>
    <div>
      <%= link_to deal.name, dashboard_project_path(deal.id), class: "underline" %>
    </div>
  <% end %>
</div>
